.dashboard-item {
	width: 22%;
	min-width: 150px;
	height: 100px;
	margin: 1%;
	line-height: 85px;
	font-size: 16px;
	background-color: #33f7a9;
}

.dashboard-item:hover {
	background-color: #0ad192;
}

a {
	text-decoration: none;
	color: #636363;
}

td > a {
	text-decoration: underline;
}

a:hover {
	color: #3f3f3f;
}

.link {
	color: #4c90ff;
}

.selectable-item {
	border-bottom: 1px solid lightgrey; 
	padding: 5px;
}

.selectable-item:nth-last-child(2) {
	border: none;
}

.selectable-item:hover {
	background-color: #d8d8d8;
}